> # CST1510 Programming for data communication and networks
> # Week 1 Lab – Python Foundations
<hr style="border:2px solid gray">

This session introduces Python’s core building blocks: variables, data types, and input/output operations. These fundamentals support all later work in this module.

---

## Topics
- Variables and data types (`int`, `float`, `str`, `bool`)
- Input (`input()`) and output (`print()`), single/double quotes and escape sequences
- Comments and basic Python syntax (PEP8 naming)
- Numeric and augmented assignment operators
- Built-in functions (`type`, `len`, `round`, `min`, `max`, `sum`)
- Importing simple built-in modules

---

## Lab Structure
Tasks are grouped by difficulty:
- **Threshold** – essential skills
- **Typical** – applied tasks
- **Excellent** – extended challenges
- **Stretch (Optional)** – enrichment problems

At the end, select 1–2 tasks for your portfolio.

## Problem-Solving & Pseudocode (Brief)

1. **Inputs/Outputs** – identify required inputs (types/units) and desired outputs (format/precision).
2. **Steps** – list actions in order: read → convert → compute → display.
3. **Translate** – convert each step to code with clear variable names and f-strings.
4. **Test** – try typical and edge values; verify units and formatting.

**Worked example – Rectangle calculator**

- Inputs: width, height (numbers)  
- Outputs: area and perimeter (2 d.p.)

```python
width = float(input("Width: "))
height = float(input("Height: "))
area = width * height
perimeter = 2 * (width + height)
print(f"Area = {area:.2f}")
print(f"Perimeter = {perimeter:.2f}")
```

# Threshold Tasks

### Threshold 1. Questionnaire

Write a program that asks for name, interest, nationality, course, and programming experience, then prints a formatted summary using escape sequences (`\n`, `\t`).

**Example Output:**
```
User Information:
	Name: Alice
	Interest: Security
	Nationality: UK
	Course: Cyber
	Experience: Beginner
```

In [24]:

name=input("enter name: ")
interest=input("enter interest: ")
nation=input("enter nationality")
course=input("enter course: ")
exp=input("enter experience: ")


print(f"User Information: \n\tName: {name} \n\tInterest: {interest} \n\tNationality: {nation} \n\tCourse:{course} \n\tExperience: {exp}")

User Information:
	Name: amsha
	Interest: music
	Nationality: pakistani
	Course:AI
	Experience: Beginner

### Threshold 2. Rectangle Area & Perimeter

Calculate and print the area and perimeter of a rectangle using fixed values: width = 4.5 and height = 7.9.
Formulas: `area = width * height`, `perimeter = 2 * (width + height)`.

**Example Output:**
```
Area = 35.55
Perimeter = 24.80
```

In [18]:
area=4.5*7.9
perimeter=2*(4.5+7.9)
print(f"Area {area:.2f}\nPerimeter {perimeter:.2f}")

Area 35.55
Perimeter 24.80

### Threshold 3. Convert Pounds to Kilograms

Ask the user for a value in pounds, convert to kilograms using `1 lb = 0.454 kg`, and print the result.

**Example Output:**
```
55.5 pounds is 25.197 kilograms
```

In [19]:
pounds=float(input("enter value in pounds: "))
kg=pounds*0.454
print(f"{pounds} pounds is {kg} kilograms")

55.5 pounds is 25.197 kilograms

### Threshold 4. Convert Feet to Meters

Ask the user for a value in feet, convert to meters using `1 ft = 0.305 m`, and print the result.

**Example Output:**
```
16.5 feet is 5.0325 meters
```

In [20]:
feet=float(input("enter value in feet: "))
meters=feet*0.305
print(f"{feet} feet is {meters} meters")

16.5 feet is 5.0325 meters

### Quick Check (no code submission)
- What data type does `input()` return? Use `type(input("x"))` to verify.  
- Show one example of an escape sequence in `print()`.  
- What is the difference between `/` and `//`? Provide a one-line example for each.

# Typical Tasks

### Typical 1. Total Time to Watch a Series

Compute total viewing time (no breaks) for a series:
- 5 seasons, 10 episodes per season
- Season 1: 45 minutes 35 seconds per episode
- Seasons 2–5: 35 minutes 15 seconds per episode
Display the total as hours, minutes, and seconds.

**Example Output:**
```
Total time: 39h 30m 0s
```

In [28]:
# Your code here
s1=(45*60+35)*10
s2=(35*60+15)*10*4
total=s1+s2
hours=total//3600
seconds=total%3600
mins=seconds//60
secs=seconds%60
print(hours,"h",mins,"m",secs,"s")

31 h 5 m 50 s

### Typical 2. Savings Projection (3 Years)

Compute final savings after 3 years given:
- Save £10 every week for 3 years
- Year 1 bonus: +£20 each week
- Every 2 weeks: −£0.50 (sister)
Assume 52 weeks per year; use arithmetic and augmented assignment; no conditionals.

**Example Output:**
```
Final savings after 3 years: £4689.50
```

In [ ]:
save=10*52*3
bonus=20*52
total=save+bonus
total-=0.5*26*3
print(total)

### Typical 3. Cyber: HTTP Log Composer

Ask for IP, method, path, status, and bytes, then print a single combined log line (Apache-style).

**Example Output:**
```
192.168.1.10 - "POST /auth" 401 512
```

In [1]:
ip=input("enter IP address: ")
method=input("enter method: ")
path=input("enter path: ")
status=input("enter status: ")
bytes=input("enter bytes: ")

log = f'{ip} - "{method} {path}" {status} {bytes}'
print(log)

### Typical 4. Data Science: Dataset Metadata

Ask for dataset name, rows, and columns. Print:
- dataset name in quotes
- rows and columns
- total cells (rows × columns)

**Example Output:**
```
"sales.csv"
Rows: 120
Columns: 8
Cells: 960
```

In [ ]:
name=input("enter data set name: ")
rows=int(input("enter number of rows: "))
cols=int(input("enter number of columns"))
cells=rows*cols
print (name)
print("Rows: ",rows, "\nColumns: ",cols, "\nCells: ",cells)

### Typical 5. IT: INI-style Config Printer

Ask for three `key=value` pairs (via separate prompts) and print them as an INI block with indentation.

**Example Output:**
```
[config]
	max_connections = 200
	timeout = 30
	region = eu-west-2
```

In [29]:

pair1=input("Enter first key=value: ")
pair2=input("Enter second key=value: ")
pair3=input("Enter third key=value: ")


print("[config]")
print(f"\t{pair1}")
print(f"\t{pair2}")
print(f"\t{pair3}")

[config]
	22
	22
	33

# Excellent Tasks

### Excellent 1. Cyber: Timestamped Auth Event

Ask for a username and action (e.g., `LOGIN` or `LOGOUT`) and print a timestamped event line.

**Example Output:**
```
[2025-09-17 14:20:15] LOGIN user=alice
```


*Optional hint:* `from datetime import datetime; datetime.now().strftime(...)`

In [14]:
from datetime import datetime,date

action=input('enter action LOGIN OR LOGOUT')
username=input('enter username: ')
time = datetime.now()
today = date.today()
print("[" ,today, time.strftime("%H:%M:%S"),"]", action,"user=", username)

[ 2025-09-29 15:38:47 ] login user= aa

### Excellent 2. Data Science: Mini Statistics Report

Ask for five numeric values (space-separated). Print the values, total, mean, median, and sample standard deviation.

**Example Output:**
```
Values: 80, 90, 70, 85, 75
Total = 400.00
Mean = 80.00
Median = 80.00
Std Dev = 7.91
```


*Optional hint:* `import statistics as stats`

In [30]:
# M01092802
#Amsha Nasar
import statistics as stats

v1=int(input("enter a value: "))
v2=int(input("enter a value: "))
v3=int(input("enter a value: "))
v4=int(input("enter a value: "))
v5=int(input("enter a value: "))

data=[v1,v2,v3,v4,v5]

print("Mean:", stats.mean(data))
print("Median:", stats.median(data))
print("Mode:", stats.mode([5, 5, 10, 15]))
print("Standard deviation:", stats.stdev(data))
print("Variance:", stats.variance(data))

Mean: 2.6
Median: 3
Mode: 5
Standard deviation: 1.140175425099138
Variance: 1.3

### Excellent 3. IT: Path Decomposition Report

Ask for a file or directory path and print its absolute path, parent, name, stem, and suffix.

**Example Output:**
```
Absolute path: /home/user/project/service.log
Parent: /home/user/project
Name: service.log
Stem: service
Suffix: .log
```


*Optional hint:* `from pathlib import Path`

In [22]:
from pathlib import Path

inp = input("Enter a path: ")

p = Path(inp).expanduser().resolve()  

print("Absolute path:", p)
print("Parent:", p.parent)
print("Name:", p.name)
print("Stem:", p.stem)
print("Suffix:", p.suffix)

Absolute path: /downlaods
Parent: /
Name: downlaods
Stem: downlaods
Suffix:

In [ ]:
from pathlib import Path
inp = input("Enter a path: ")
p = Path(inp).expanduser().resolve()
#...

### Excellent 4. System Info Banner

Ask for a hostname and print OS and Python version as a simple banner (one value per line).

**Example Output:**
```
Host: server01
OS: Linux
Python: 3.11.5
```


*Optional hint:* `import platform; platform.system(); platform.python_version()`

In [21]:
import platform
import socket

print("Host:", socket.gethostname())
print("OS:", platform.system())
print("Python:", platform.python_version())

Host: Amshas-MBP
OS: Darwin
Python: 3.12.1

# Stretch

### Stretch 1. Sum of First n Integers

Ask for a positive integer `n` and compute the sum `n*(n+1)//2`. Print the result.

**Example Output:**
```
Sum of 1..10 = 55
```

In [6]:
n=int(input("enter a positive number"))
sum=n*(n+1)//2
print(sum)

55

### Stretch 2. Pentagon Area

Ask for the side length `s` and compute the area: `area = 5*s**2 / (4*tan(pi/5))`. Print to 2 d.p.

**Example Output:**
```
Area = 172.05
```


*Optional hint:* `from math import tan, pi`

In [5]:
from math import tan,pi

s=int(input("enter side length"))
area=5*s**2 /(4*tan(pi/5))
print(f" Area: {area:.2f}")

 Area: 43.01

### Stretch 3. Population Projection (5 Years)

Assume current population is 312032486 and 1 year = 365 days.
Rates: birth every 7s, death every 13s, immigrant every 45s.
Compute projected population for each of the next 5 years using integer division (`//`).

**Example Output:**
```
Year 1: 315,xxx,xxx
...
Year 5: ...
```


*Optional hint:* Compute yearly net change once; then add each year.

In [1]:
#M01092802
#Amsha Nasar
curr=312032486             # initial value for population 
birth=(3600*24*365)//7    # to calculate total number of births 
death=(3600*24*365)//13   # to calculate total number of deaths
imm=(3600*24*365)//45     # to calculate total number of immigrants coming in 

curr2=curr+birth+imm-death   # calculate the population for the next year
net_change=curr2-curr        # calculate net change by subtracting the first year and second year 

print (f'The net change each year is {net_change}')
print("year 1: ", curr2)
curr2+=net_change         # use of augmented assignment 
print("year 2: ", curr2)
curr2+=net_change       # add net change to previous year's population value 
print("year 3: ", curr2)
curr2+=net_change
print("year 4: ", curr2)
curr2+=net_change
print("year 5: ", curr2)

The net change each year is 2780096
year 1:  314812582
year 2:  317592678
year 3:  320372774
year 4:  323152870
year 5:  325932966

### Stretch 4. Payroll Statement

Ask for: employee name, hours worked, hourly rate, federal tax rate, state tax rate.
Print a formatted payroll slip with gross pay, each deduction, and net pay (2 d.p.).

**Example Output:**
```
Employee: Smith
Gross pay: £97.50
Federal withholding: £19.50
State withholding: £8.78
Net pay: £69.22
```

In [2]:
#M01092802
#Amsha Nasar

name=input("enter employee name: ")
hours=float(input('enter your hours worked: '))
hourly_rate=float(input('enter your hourly rate %: '))   #take hourly rate as input 
state=float(input('enter your fedral tax rate%: '))     #take state rate as input 
fed=float(input('enter your state tax rate: '))    #take fedral rate as input 

gross_pay=hours*hourly_rate       
fed_tax=gross_pay*fed/100               #money taken away as fedral tax 
state_tax=gross_pay*state/100           #money taken away as state tax 
net_pay=gross_pay-fed_tax-state_tax    # take home pay is gross salary minus all the taxes

print(f"Employee: {name} \nGross pay:$ {gross_pay:.2f}")

print(f"Fedral Withholding:$ {fed_tax:.2f} \nState Withholding:$ {state_tax:.2f} \nNet Pay:$ {net_pay:.2f}")  # use 2f to round to 2 decimal place

Employee: amsha
Gross pay:$ 250.00
Fedral Withholding:$ 10.00
State Withholding:$ 7.50
Net Pay:$ 232.50

---

## Portfolio
Select one or two completed activities that best demonstrate this week’s learning. Polish the code (naming, formatting, comments) so you can commit them to Git in later weeks